{{extend 'layout.html'}}

<!--{{if 'message' in globals():}}{{=H2(message)}}{{else:}}{{=BEAUTIFY(response._vars)}}{{pass}}-->

<section class="promo"> 
  <article> 
    <div class="photo-right" style="float:none;">
      <img src="/{{=request.application}}/static/images/sled_tahoma.jpg" alt="nico towing sled" title="on the lake"/> 
      <div class="photo-right-credits"> 
        <a href="http://www.flickr.com/photos/nicopresto/5123190795/">[Photo
        credit - M. Van de Bogert]</a> 
      </div>  
    </div> 
    <hr />
  </article> 
</section>
