<ul>
  <!--            <li id="search">
                  <form method="get" action="">
                    <fieldset>
                      <input type="text" id="seach-text" name="s" value="" />
                      <input type="submit" id="search-submit" value="Search" />
                    </fieldset>
                  </form>
  </li>
  -->

  <li class="categories"> 
    <section class="about">
      <article>
        <h2>View Sections</h2>

        <p onclick="implode('coll');">{{=T("(Show/Hide All)")}}</p>        
        <br/><br/>
        <p onclick="collapse('current_inner');">{{=T("Current Position")}}</p>
        <p onclick="collapse('education_inner');">{{=T("Education")}}</p>
        <p onclick="collapse('publications_inner');">{{=T("Publications")}}</p>
        <p onclick="collapse('presentations_inner');">{{=T("Presentations")}}</p>
        <p onclick="collapse('research_inner');"> {{=T("Research Experience")}}</p>
        <p onclick="collapse('funding_inner');">{{=T("Funding")}}</p>
        <p onclick="collapse('teaching_inner');">{{=T("Recent Teaching")}}</p>
        <p onclick="collapse('societies_inner');">{{=T("Societies")}}</p>
        <p onclick="collapse('referee_inner');">{{=T("Journal Review Experience")}}</p>
        <p onclick="collapse('volunteer_inner');">{{=T("Volunteer Work")}}</p>
        <p onclick="collapse('skills_inner');">{{=T("Skills")}}</p>
        <p onclick="collapse('contacts_inner');">{{=T("Contact Info")}}</p>
        <p    </article>
              </section>
  </li>
  
  
</ul> 
<!-- end sidebar --> 
