          <ul>
            <!--            <li id="search">
                            <form method="get" action="">
                              <fieldset>
                                <input type="text" id="seach-text" name="s" value="" />
                                <input type="submit" id="search-submit" value="Search" />
                              </fieldset>
                            </form>
            </li>
            -->
            
            <li class="categories"> 
              <section class="about">
                <article>
                  <h2>About me</h2> 
                  I am a postdoctoral scientist at the UW-Madison <a href="http://web2py.com" target="_blank">Center for Sustainability and the Global Environment</a>. My research focuses on the intersection of the environment, computing, and health.
                  <a href="/{{=request.application}}/default/about.html">Learn more...</a> 
                </article>
              </section>
            </li>
            
            <li class="categories"> 
              <p class="follow-us">  
                <a href="http://sage.wisc.edu" target="_blank"> 
                  <img src="/{{=request.application}}/static/icons/sagelogo.png" alt="link to UW-SAGE" title="sage" style="width:60px;height:80;"/> 
                </a> 

                <a href="http://twitter.com/nicopresto" target="_blank"> 
                  <img src="/{{=request.application}}/static/icons/t_logo-a.png" alt="@nicopresto" title="@nicopresto" style="width:40px;height:40;"/> 
                </a> 
                
<!--                <a href="http://nicopresto.com/news/atom" target="_blank"> 
                  <img src="/{{=request.application}}/static/icons/rss.png" alt="Nicopresto RSS" title="Nicopresto RSS" style="width:40px;height:40;"/> 
                </a> 
-->
              </p>
            </li> 
            
            
          </ul> 
          <!-- end sidebar --> 
