<ul>
  <!--            <li id="search">
    <form method="get" action="">
      <fieldset>
        <input type="text" id="seach-text" name="s" value="" />
        <input type="submit" id="search-submit" value="Search" />
      </fieldset>
    </form>
  </li>
  -->

  <li class="categories"> 
    <section class="about">
      <article>
        <h2>View Sections</h2>

        <p onclick="implode('coll');">{{=T("(Show/Hide All)")}}</p>        
        <br/><br/>
        <p onclick="collapse('undergrad_inner');">{{=T("Undergraduate Studies")}}</p>
        <p onclick="collapse('guatemala_inner');">{{=T("Work in Guatemala")}}</p>
        <p onclick="collapse('madison_inner');">{{=T("Graduate Studies")}}</p>
      </article>
    </section>
  </li>


</ul> 
<!-- end sidebar --> 
